@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

/* note: by default when we use tailwindcss all html elements are unstyled */

/* with this approach we can provide default styles to some html elements */
@layer base {
  h1 {
    @apply font-extrabold text-6xl font-monoLisa;
  }
}

/* *439# */
